@import "../../../var.scss";

form > * {
  width: 100% !important;
}

label {
  display: none;
}

.map-container {
  height: 120pt;
  border-radius: $rounded-radius;
  margin-bottom: 8pt;

  overflow: hidden;
  position: relative;

  .map-preview-placeholder {
    display: flex;

    height: 100%;

    border-radius: $rounded-radius;

    background-color: var(--shadow);

    justify-content: center;
    align-items: center;

    fa-icon {
      font-size: 72pt;
      opacity: 0.25;
    }
  }

  iframe {
    height: 120pt;
    border-radius: $rounded-radius;
  }
}

#location-search-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 0 0 $rounded-radius $rounded-radius;

  animation: max-height 0.5s ease-in-out;
  max-height: 120pt;
  overflow-y: scroll;

  .location-result-entry {
    background-color: var(--shadow);

    width: 100%;

    padding: 8pt;

    border-top: 1.25pt solid var(--text);

    &:last-of-type {
      border-radius: inherit;
    }
  }
}

.selected-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 4pt
}
