<div class="map-container">
  <div *ngIf="!previewURL" class="map-preview-placeholder">
    <fa-icon [icon]="faMapMarked"></fa-icon>
  </div>
  <iframe *ngIf="previewURL"
          [src]="previewURL"></iframe>
</div>
<form>
  <div [class.flat-bottom]="this.searchComplete && !addressSelected" class="input-button-combo">
    <label for="addressSearch">Search Location</label>
    <input id="addressSearch" name="addressSearch" type="search">
    <button (click)="performSearch()" class="no-hover-enlarge">Search</button>
  </div>
</form>
<div>
  <div *ngIf="this.searchComplete" id="location-search-results-container">
    <div (click)="addressClicked(result)" *ngFor="let result of this.searchResults"
         class="clickable no-hover-enlarge location-result-entry"> {{result.display_name}}</div>
  </div>
</div>
<div *ngIf="this.addressSelected" class="selected-button-container">
  <button (click)="saveButtonClicked()" *ngIf="!this.selectionComplete"
          class="button-green">Save Location
  </button>
</div>



