@import "../../../var.scss";

* {
  color: var(--text);
}

nav {
  height: 100%;

  a {
    font-size: 2rem;
  }
}

.sign-in-avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--text);

  fa-icon {
    color: var(--background);
    font-size: 16pt;
  }
}
