@import "../../../var.scss";

* {
  color: var(--text);
}

nav {
  height: 72pt;

  a {
    font-size: 2rem;
  }
}

.collapse-button {
  @media screen and (min-width: $mobile-breakpoint) {
    display: none;
  }
}

.avatar-action-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media screen and (min-width: $mobile-breakpoint) {
    justify-content: right;
  }

  .sign-in-avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--text);

    fa-icon {
      color: var(--background);
      font-size: 16pt;
    }
  }
}
