<div class="contextual-control clickable no-hover-enlarge" (click)="resetOffset()">
  <span class="clickable no-hover-enlarge" id="back-button" onclick="history.back()"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</span>
  <span *ngIf="calendar">Calendar: {{calendar.name}}</span>
</div>

<div *ngIf="calendar" class="title-icon-button-combo desktop">
  <h2 class="heading desktop" id="weekly-cal-heading">
  <span id="weekly-cal-month">
    {{displayingWeek[3].toLocaleString(dateLocale, {month: 'long'})}}
  </span>
    <span id="weekly-cal-year">
    {{displayingWeek[3].getFullYear()}}
  </span>
  </h2>
  <h2 class="heading mobile">
    {{calendar.name}}
  </h2>
  <div>
    <div (click)="redirectToAddEvent(calendar.id)" class="icon-button clickable no-hover-enlarge">
      <fa-icon [icon]="faPlus"></fa-icon>
    </div>
    <div class="icon-button clickable no-hover-enlarge">
      <fa-icon [icon]="faLink" (click)="copyCalendarUrlToClipboard(calendar.id)"></fa-icon>
    </div>
  </div>
</div>

<div *ngIf="calendar">
  <div (click)="minusOneWeek()" class="calendar-navigation desktop clickable no-hover-enlarge">
    <fa-icon [icon]="faChevronUp">Last week</fa-icon>
  </div>

  <div class="calendar-navigation mobile">
    <fa-icon (click)="minusOneDay()" [icon]="faChevronLeft" class="clickable no-hover-enlarge">Last day</fa-icon>
    <fa-icon (click)="addOneDay()" [icon]="faChevronRight" class="clickable no-hover-enlarge">Next day</fa-icon>
  </div>

  <div class="calendar mobile">
    <div id="mobile-cal-heading" class="clickable no-hover-enlarge" (click)="resetOffset()">
      <div class="week-day-label">{{displayingDate.toLocaleDateString(dateLocale, {weekday: 'short'})}}</div>
      <div [ngClass]="{'today': isToday(displayingDate)}" class="calendar-date-label">
        {{displayingDate.toLocaleDateString(dateLocale, {month: 'short', day: 'numeric'})}}
      </div>
    </div>

    <div class="calendar-day-swim-lane">
      <div *ngFor="let event of this.eventsOfTheWeek.get(displayingDate.toISOString())"
           [style.grid-row]="getDisplayRows(event, displayingDate)" [ngClass]="color"
           class="calendar-event" routerLink="/event/{{event.id}}">
        <div *ngIf="event != null" class="calendar-event-time">{{this.getDisplayTimeString(event)}}</div>
        <div *ngIf="event != null" class="calendar-event-name">{{event.name}}</div>
      </div>
    </div>
  </div>

  <div class="grid-one-sixth calendar desktop">
    <div class="week-day-label"
         *ngFor="let day of displayingWeek.slice(0,5)">{{day.toLocaleDateString(dateLocale, {weekday: 'short'})}}
    </div>
    <div class="week-day-label">
      {{displayingWeek[5].toLocaleDateString(dateLocale, {weekday: 'short'})}}
      /
      {{displayingWeek[6].toLocaleDateString(dateLocale, {weekday: 'short'})}}
    </div>

    <div *ngFor="let date of this.displayingWeek.slice(0,5)" [ngClass]="{'today': isToday(date)}"
         class="calendar-date-label">{{date.getDate()}}</div>
    <div class="calendar-date-label">
      <sup [ngClass]="{'today': isToday(this.displayingWeek[5])}">{{this.displayingWeek[5].getDate()}}</sup>
      ⁄
      <sub [ngClass]="{'today': isToday(this.displayingWeek[6])}">{{this.displayingWeek[6].getDate()}}</sub>
    </div>

    <div *ngFor="let date of this.displayingWeek.slice(0,5)" class="calendar-day-swim-lane">
      <div *ngFor="let event of this.eventsOfTheWeek.get(date.toISOString())" [ngClass]="color"
           [style.grid-row]="getDisplayRows(event, date)"
           class="calendar-event" routerLink="/event/{{event.id}}">
        <div
          class="calendar-event-time">{{isOnSameDay(event.startDateTime, date) ? this.getDisplayTimeString(event) : ''}}</div>
        <div class="calendar-event-name">{{event.name}}</div>
      </div>
    </div>
    <div class="calendar-day-swim-lane weekend-lane-container">
      <div class="weekend-sat">
        <div *ngFor="let event of this.eventsOfTheWeek.get(displayingWeek[5].toISOString())"
             [ngClass]="color"
             [style.grid-row]="getDisplayRows(event, displayingWeek[5])"
             class="calendar-event " routerLink="/event/{{event.id}}">
          <div
            class="calendar-event-time">{{isOnSameDay(event.startDateTime, displayingWeek[5]) ? this.getDisplayTimeString(event) : ''}}</div>
          <div class="calendar-event-name">{{event.name}}</div>
        </div>
      </div>
      <div class="weekend-sun">
        <div *ngFor="let event of this.eventsOfTheWeek.get(displayingWeek[6].toISOString())"
             [ngClass]="color"
             [style.grid-row]="getDisplayRows(event, displayingWeek[6])"
             class="calendar-event weekend-sun" routerLink="/event/{{event.id}}">
          <div
            class="calendar-event-time">{{isOnSameDay(event.startDateTime, displayingWeek[6]) ? this.getDisplayTimeString(event) : ''}}</div>
          <div class="calendar-event-name">{{event.name}}</div>
        </div>
      </div>
    </div>
  </div>

  <div (click)="addOneWeek()" class="calendar-navigation desktop clickable no-hover-enlarge">
    <fa-icon [icon]="faChevronDown">Next week</fa-icon>
  </div>
</div>
