<div class="contextual-control">
  <span class="clickable no-hover-enlarge" id="back-button" onclick="history.back()"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</span>
  <span *ngIf="calendar">Calendar: {{calendar.name}}</span>
</div>

<div *ngIf="calendar" class="title-icon-button-combo desktop">
  <h2 class="heading desktop clickable no-hover-enlarge" (click)="resetOffset()" id="weekly-cal-heading">
  <span id="weekly-cal-month">
    {{displayingWeek[3].toLocaleString(dateLocale, {month: 'long'})}}
  </span>
    <span id="weekly-cal-year">
    {{displayingWeek[3].getFullYear()}}
  </span>
  </h2>
  <h2 class="heading mobile clickable no-hover-enlarge" (click)="resetOffset()">
    {{calendar.name}}
  </h2>
  <div class="icon-button">
    <div (click)="redirectToAddEvent(calendar.id)" class="clickable no-hover-enlarge">
      <fa-icon [icon]="faPlus"></fa-icon>
    </div>
    <div class="clickable no-hover-enlarge">
      <fa-icon [icon]="faLink" (click)="copyCalendarUrlToClipboard(calendar.id)"></fa-icon>
    </div>
  </div>
</div>

<div *ngIf="calendar">
  <div (click)="minusOneWeek()" class="calendar-navigation desktop clickable no-hover-enlarge">
    <fa-icon [icon]="faChevronUp">Last week</fa-icon>
  </div>

  <div class="calendar-navigation mobile">
    <div class="calendar-navigation-button-mobile">
      <fa-icon (click)="minusOneDay()" [icon]="faChevronLeft" class="clickable no-hover-enlarge">Last day</fa-icon>
    </div>
    <div class="calendar-navigation-button-mobile">
      <fa-icon (click)="addOneDay()" [icon]="faChevronRight" class="clickable no-hover-enlarge">Next day</fa-icon>
    </div>
  </div>

  <div class="calendar mobile">
    <div id="mobile-cal-heading" class="calendar-date-label-container clickable no-hover-enlarge"
         (click)="resetOffset()">
      <div class="week-day-label">{{displayingDate.toLocaleDateString(dateLocale, {weekday: 'short'})}}</div>
      <div [ngClass]="{'today': isToday(displayingDate)}" class="calendar-date-label">
        {{displayingDate.toLocaleDateString(dateLocale, {month: 'short', day: 'numeric'})}}
      </div>
    </div>

    <app-calendar-day-view class="calendar-day" [events]="eventsOfTheWeek.get(displayingDate.toISOString())"
                           [date]="displayingDate"></app-calendar-day-view>
  </div>

  <div class="calendar-week-grid calendar desktop">
    <div *ngFor="let date of displayingWeek.slice(0,5)" class="calendar-date-label-container">
      <div class="week-day-label">{{date.toLocaleDateString(dateLocale, {weekday: 'short'})}}
      </div>
      <div [ngClass]="{'today': isToday(date)}"
           class="calendar-date-label">{{date.getDate()}}</div>
    </div>
    <div class="calendar-date-label-container weekend">
      <div class="week-day-label">
        {{displayingWeek[5].toLocaleDateString(dateLocale, {weekday: 'short'})}}
        /
        {{displayingWeek[6].toLocaleDateString(dateLocale, {weekday: 'short'})}}
      </div>
      <div class="calendar-date-label">
        <sup [ngClass]="{'today': isToday(this.displayingWeek[5])}">{{this.displayingWeek[5].getDate()}}</sup>
        ⁄
        <sub [ngClass]="{'today': isToday(this.displayingWeek[6])}">{{this.displayingWeek[6].getDate()}}</sub>
      </div>
    </div>

    <app-calendar-day-view class="calendar-day" *ngFor="let date of this.displayingWeek"
                           [events]="eventsOfTheWeek.get(date.toISOString())"
                           [date]="date"></app-calendar-day-view>
  </div>

  <div (click)="addOneWeek()" class="calendar-navigation desktop clickable no-hover-enlarge">
    <fa-icon [icon]="faChevronDown">Next week</fa-icon>
  </div>
</div>
