<div class="contextual-control">
  <span id="back-button" class="clickable no-hover-enlarge no-shadow" onclick="history.back()"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</span>
  <span *ngIf="calendar">Calendar: {{calendar.name}}</span>
</div>
<div class="title-icon-button-combo desktop">
  <h2 id="weekly-cal-heading" class="heading">
  <span id="weekly-cal-month">
    {{displayingWeek[3].toLocaleString('en-US', {month: 'long'})}}
  </span>
    <span id="weekly-cal-year">
    {{displayingWeek[3].getFullYear()}}
  </span>
  </h2>
  <div class="icon-button clickable no-hover-enlarge no-shadow" (click)="redirectToEventForm(calendar.id)">
    <fa-icon [icon]="faPlus"></fa-icon>
  </div>
</div>

<div>
  <div class="calendar-navigation desktop" (click)="minusOneWeek()">
    <fa-icon [icon]="faChevronUp">Last week</fa-icon>
  </div>

  <div class="calendar-navigation mobile">
    <fa-icon [icon]="faChevronLeft" (click)="minusOneDay()">Last day</fa-icon>
    <fa-icon [icon]="faChevronRight" (click)="addOneDay()">Next day</fa-icon>
  </div>

  <div class="calendar mobile">
    <div class="week-day-label">{{displayingDate.toLocaleDateString('en-US', {weekday: 'short'})}}</div>
    <div class="calendar-date-label" [ngClass]="{'today': isToday(displayingDate)}">
      {{displayingDate.toLocaleDateString('en-US', {month: 'short', day: 'numeric'})}}
    </div>

    <div class="calendar-day-swim-lane">
      <div *ngFor="let event of this.eventsOfTheWeek.get(displayingDate.toISOString())" class="calendar-event"
           [style.grid-row]="getDisplayRows(event)" (click)="redirectToDetail(event.id)">
        <div class="calendar-event-time" *ngIf="event != null">{{this.getDisplayTimeString(event)}}</div>
        <div class="calendar-event-name" *ngIf="event != null">{{event.name}}</div>
      </div>
    </div>

    <button class="button-solid small-button" (click)="redirectToEventForm(calendar.id)">
      Add Event
    </button>
  </div>

  <div class="grid-one-sixth calendar desktop">
    <div class="week-day-label">Mon</div>
    <div class="week-day-label">Tue</div>
    <div class="week-day-label">Wed</div>
    <div class="week-day-label">Thu</div>
    <div class="week-day-label">Fri</div>
    <div class="week-day-label">Sat/Sun</div>

    <div *ngFor="let date of this.displayingWeek.slice(0,5)" class="calendar-date-label"
         [ngClass]="{'today': isToday(date)}">{{date.getDate()}}</div>
    <div class="calendar-date-label">
      <sup [ngClass]="{'today': isToday(this.displayingWeek[5])}">{{this.displayingWeek[5].getDate()}}</sup>
      ⁄
      <sub [ngClass]="{'today': isToday(this.displayingWeek[6])}">{{this.displayingWeek[6].getDate()}}</sub>
    </div>

    <div *ngFor="let date of this.displayingWeek.slice(0,5)" class="calendar-day-swim-lane">
      <div *ngFor="let event of this.eventsOfTheWeek.get(date.toISOString())" class="calendar-event"
           [style.grid-row]="getDisplayRows(event)" (click)="redirectToDetail(event.id)">
        <div class="calendar-event-time">{{this.getDisplayTimeString(event)}}</div>
        <div class="calendar-event-name">{{event.name}}</div>
      </div>
    </div>
    <div class="calendar-day-swim-lane weekend-lane-container">
      <div class="weekend-sat">
        <div *ngFor="let event of this.eventsOfTheWeek.get(displayingWeek[5].toISOString())" class="calendar-event "
             [style.grid-row]="getDisplayRows(event)" (click)="redirectToDetail(event.id)">
          <div class="calendar-event-time">{{this.getDisplayTimeString(event)}}</div>
          <div class="calendar-event-name">{{event.name}}</div>
        </div>
      </div>
      <div class="weekend-sun">
        <div *ngFor="let event of this.eventsOfTheWeek.get(displayingWeek[6].toISOString())"
             class="calendar-event weekend-sun"
             [style.grid-row]="getDisplayRows(event)" (click)="redirectToDetail(event.id)">
          <div class="calendar-event-time">{{this.getDisplayTimeString(event)}}</div>
          <div class="calendar-event-name">{{event.name}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="calendar-navigation desktop" (click)="addOneWeek()">
    <fa-icon [icon]="faChevronDown">Next week</fa-icon>
  </div>
</div>
