@import "../../../var.scss";

#weekly-cal-heading {
  display: none;
  @media screen and (min-width: $mobile-breakpoint) {
    display: initial;
  }
}

#weekly-cal-month:after {
  content: " ";
}

#weekly-cal-date {
  font-weight: $f-regular;
}

.grid-one-sixth {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.week-day-label {
  font-size: 16pt;
  font-weight: $f-bold;

  text-align: center;
  text-transform: uppercase;
}

.calendar-date-label {
  font-size: 36pt;
  font-weight: $f-bold;

  text-align: center;

  text-transform: uppercase;

  &.today {
    color: var(--accent);
  }

  sub, sup {
    font-weight: $f-bold;
    margin: 0 -0.25em;

    &.today {
      color: var(--accent);
    }
  }

  sub {
    bottom: -0.125em;
  }

  sup {
    top: -0.33em;
  }
}

$swim-land-border: 2pt dotted transparentize($gray, 0.5);

.calendar-day-swim-lane {
  display: grid;
  grid-template-rows: repeat(64, 1fr);
  grid-auto-columns: minmax(0, 1fr);

  width: 100%;
  height: 360pt;


  &.weekend-lane-container {
    display: flex;

    > .weekend-sat, > .weekend-sun {
      width: 50%;

      display: grid;
      grid-template-rows: repeat(64, 1fr);
      grid-auto-columns: minmax(0, 1fr);
    }

    > .weekend-sat {
      justify-self: flex-start;
    }

    > .weekend-sun {
      justify-self: flex-end;
    }
  }
  @media screen and (min-width: $mobile-breakpoint) {
    border-left: $swim-land-border;

    &:last-of-type {
      border-right: $swim-land-border;
    }
  }
}

.calendar-event {
  border-left: 4pt solid $blue;
  background-color: transparentize($blue, 0.75);

  position: relative;

  margin-left: -2pt;
  padding: 4pt;
  box-sizing: content-box;

  .calendar-event-time {
    color: $gray;
    font-size: 8pt;
    margin-bottom: -2pt;
  }

  .calendar-event-name {
    line-height: 1;
    text-overflow: ellipsis;
    hyphens: auto;
  }
}

.calendar-navigation {
  display: flex;
  user-select: none;
  font-size: 16pt;

  &.desktop {
    justify-content: center;
    display: none;
  }

  &.mobile {
    justify-content: space-between;
    position: relative;
    top: 32pt
  }

  @media screen and (min-width: $mobile-breakpoint) {
    &.desktop {
      display: flex;
    }

    &.mobile {
      display: none;
    }
  }
}

.calendar {
  &.desktop {
    display: none;
  }

  @media screen and (min-width: $mobile-breakpoint) {
    &.desktop {
      display: grid;
    }

    &.mobile {
      display: none;
    }
  }
}
