@import "../var.scss";

:host > * {
  display: block;
}

*~router-outlet {
  display: block !important;
}

.container {
  @media screen and (min-width: $mobile-breakpoint) {
    min-height: calc(100% - 72pt - 40pt);
  }
}
