<div class="contextual-control">
  <span id="back-button"><a class="clickable no-hover-enlarge no-shadow" href="/"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</a></span>
  <span *ngIf="calendar">Calendar: {{calendar.name}}</span>
</div>
<div class="grid-one-third" *ngIf="calendar">
  <div>
    <h2>Update Calendar</h2>
    <label for="calendar.name">Name</label>
    <div class="input-button-combo">
      <input id="calendar.name" [(ngModel)]="calendar.name" placeholder="name">
      <button class="update button-clickable button-solid no-hover-enlarge no-shadow" title="Update calendar"
              (click)="update()">
        Submit
      </button>
    </div>
  </div>
  <div>
  </div>
</div>
