<div class="contextual-control">
  <span id="back-button"><a class="clickable no-hover-enlarge no-shadow" href="/"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</a></span>
  <span *ngIf="calendar">Calendar: {{calendar.name}}</span>
</div>
<div class="grid-one-third" *ngIf="calendar">
  <div>
    <h2>Update Calendar</h2>
    <div class="form-group">
      <label for="calendar.organizationIds">Organization</label>
        <select id="calendar.organizationIds" class="form-control" [(ngModel)]="calendar.organizationIds[0]">
          <option *ngFor="let org of this.organizations" value="{{org.id}}">{{org.name}}</option>
        </select>
        <label for="calendar.name">Name</label>
        <input class="form-control " id="calendar.name"  placeholder="name" [(ngModel)]="calendar.name">
        <button class="update button-clickable button-solid no-hover-enlarge no-shadow" title="Update calendar"
                (click)="onSubmit()">
          Submit
        </button>
    </div>
  </div>
</div>
