<div class="contextual-control">
  <span id="back-button"><a class="clickable no-hover-enlarge" href="/"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</a></span>
  <span *ngIf="calendar">Calendar: {{calendar.name}}</span>
</div>
<div *ngIf="calendar" class="centered-two-third">
  <div>
    <h2 *ngIf="this.title">{{this.title}}</h2>
    <form (ngSubmit)="uploadImage()">
      <div class="avatar-container" *ngIf="calendar">
        <img alt="" class="avatar avatar-large" src="{{calendar.coverImageUrl}}">
      </div>
      <label for="calendar-avatar">
        Avatar
      </label>
      <div class="input-button-combo">
        <input type="file" name="calendar-avatar" (change)="selectImage($event)"
               id="calendar-avatar" accept="{{this.globals.allowedAvatarMimeTypes.join(',')}}">
        <button type="submit" class="no-hover-enlarge">Upload</button>
      </div>
    </form>
    <h3>Calendar Information</h3>
    <div class="form-group">
      <!--      <label for="calendar.organizationIds">Organization</label>-->
      <!--        <select id="calendar.organizationIds" class="form-control" [(ngModel)]="calendar.organizationIds[0]">-->
      <!--          <option *ngFor="let org of this.organizations" value="{{org.id}}">{{org.name}}</option>-->
      <!--        </select>-->
      <label for="calendar.name">Name</label>
      <input [(ngModel)]="calendar.name" class="form-control " id="calendar.name" placeholder="name">

    </div>
    <div class="form-group">
      <label for="calendar.description">Description: </label>
      <input [(ngModel)]="calendar.description" class="form-control " id="calendar.description"
             placeholder="Description">
    </div>
    <h3>Organizations</h3>
    <div class="organization-list">
      <p>You can select one or more Organizations in which you are a Moderator. </p>
      <div class="mat-form-container">
        <div class="mat-select-container">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Organizations</mat-label>
            <mat-select [(ngModel)]="calendar.organizationIds" [compareWith]="compare" id="organization-select"
                        multiple>
              <mat-option *ngFor="let org of this.organizations" [(value)]="org.id">
                {{org.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button (click)="onSubmit()"
                class="update button-clickable always-black full-width-form-button no-hover-enlarge"
                title="Update calendar">
          Submit
        </button>
      </div>
    </div>


  </div>
</div>
