@import "../../../var.scss";

.organization {
  display: flex;
  align-items: center;
  margin-bottom: 16pt;

  .organization-details {
    margin-left: 8pt;

    .organization-name {
      font-weight: $f-bold;
      font-size: 16pt;
    }
  }
}

.form-container {
  background-color: $white;
  border-radius: $rounded-radius;
  border: 2pt solid $black;

  .mat-select-container {
    padding: 8pt;

    .mat-form-field > * {
      padding: 0;
    }
  }

  .always-black {
    color: $black !important;
    border-top: 2pt solid $black;
    background-color: $white !important;
  }
}
