<div class="contextual-control">
  <span id="back-button"><a class="clickable no-hover-enlarge" href="/"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</a></span>
</div>

<div class="centered-two-third">
  <div class="title-icon-button-combo">
    <h2>Organizations</h2>
    <div *ngIf="authService.isLoggedIn()" class="icon-button clickable no-hover-enlarge">
      <fa-icon [icon]="faPlus" routerLink="/form/organization"></fa-icon>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="searchForm" class="filter input-button-combo">
    <label for="organization.name"></label>
    <input class="form-control" formControlName="name" id="organization.name" type="text" value="">
    <button (click)="clearSearch()" *ngIf="searchActive" class="button-red no-hover-enlarge flat-right-side"
            type="reset">Clear
    </button>
    <button class="no-hover-enlarge" type="submit">Filter</button>
  </form>
  <app-organization-list *ngIf="!searchActive" [organizations]="organizations"></app-organization-list>
  <app-organization-list *ngIf="searchActive" [organizations]="organizationSearchResult"></app-organization-list>
</div>

