@import "../../../var.scss";

.feedback-container {
  border-radius: 5px;
  background-color: #90ee90;
  position: absolute;
  z-index: 100;
  width: 85vw;
  top: 5vh;
  left: 5vw;
}

.feedback-neutral {
  border: 1px solid grey;
  background-color: $gray
}

.feedback-success {
  border: 1px solid green;
  background-color: $green
}

.feedback-warning {
  border: 1px solid #7b7b05;
  background-color: $yellow
}

.feedback-error {
  border: 1px solid darkred;
  background-color: $red;
}

.feedback-inner {
  margin: 10px 10px 15px 10px
}

.feedback-headline {
  font-weight: 600;
  font-size: 20px;

}

.feedback-text {

}
