<div class="contextual-control">
  <span class="clickable no-hover-enlarge no-shadow" id="back-button" onclick="history.back()"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</span>
  <span>New User{{user.name ? ": " + user.name : ''}}</span>
</div>
<div class="centered-one-third">
  <h2>New User</h2>
  <div>
    <div class="avatar-container">
      <img alt="" class="avatar avatar-medium" src="{{gravatarLink}}">
    </div>
    <div class="avatar-description">You can change your profile picture using <a
      href="https://en.gravatar.com" target="_blank">Gravatar</a>.
    </div>
  </div>
  <form #userRegistrationForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="control-label" for="username">Username</label>
      <div>
        <input #username="ngModel" [(ngModel)]="user.name" autocomplete="username" class="form-control"
               id="username" maxlength="255" name="username" required type="text">
        <div [hidden]="username.valid || username.pristine" class="jasmine-errored">
          <small class="form-text text-warning">This username is too long!</small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="email">Email</label>
      <div>
        <input #email="ngModel" (change)="emailUpdated()" [(ngModel)]="user.email" autocomplete="email" class="form-control"
               email id="email" name="email" type="email">
        <div [hidden]="email.valid || email.pristine" class="jasmine-errored">
          <small class="form-text text-warning">Please enter a valid email!
          </small>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <div>
          <input #passwordField="ngModel" [(ngModel)]="password" autocomplete="new-password" class="form-control"
                 id="password" minlength="8" name="password" passwordrules="minlength: 8;"
                 required type="password">
          <div [hidden]="passwordField.valid || passwordField.pristine" class="jasmine-errored">
            <small *ngIf="passwordField.hasError('required')" class="form-text text-warning">
              Please enter your password!
            </small>
            <small *ngIf="passwordField.hasError('minlength')" class="form-text text-warning">
              Please make your password longer!
            </small>
          </div>
        </div>
      </div>
      <div>
        <button [disabled]="!userRegistrationForm.valid" class="button-green" type="submit">Create Account</button>
      </div>
    </div>
  </form>
</div>
