<div class="contextual-control">
  <span id="back-button" class="clickable no-hover-enlarge no-shadow" onclick="history.back()"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</span>
  <span>New User{{user.name ? ": " + user.name : ''}}</span>
</div>
<div class="centered-one-third">
  <h2>New User</h2>
  <div>
    <div class="avatar-container">
      <img alt="" class="avatar avatar-medium" src="{{gravatarLink}}">
    </div>
    <div class="avatar-description">You can change your profile picture using <a
      href="https://en.gravatar.com" target="_blank">Gravatar</a>.
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="control-label">Username</label>
    <div>
      <input type="text" [(ngModel)]="user.name" class="form-control" autocomplete="username"
             id="username">
      <!--            <div *ngIf="updateForm.controls.username.errors" class="jasmine-errored">-->
      <!--              <small class="form-text text-warning"-->
      <!--                     *ngIf="updateForm.controls.username.errors.maxLength">This username is too long!-->
      <!--              </small>-->
      <!--            </div>-->
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="control-label">Email</label>
    <div>
      <input type="email" [(ngModel)]="user.email" class="form-control" autocomplete="email" id="email"
             (change)="emailUpdated()">
      <!--            <div *ngIf="updateForm.controls.email.errors" class="jasmine-errored">-->
      <!--              <small class="form-text text-warning"-->
      <!--                     *ngIf="updateForm.controls.email.errors.pattern">Please enter a valid email!-->
      <!--              </small>-->
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="control-label">Password</label>
    <div>
      <input type="password" [(ngModel)]="password" class="form-control" autocomplete="new-password"
             passwordrules="minlength: 8;" id="password">
      <!--            <div *ngIf="changePwdForm.controls.newPassword.errors" class="jasmine-errored">-->
      <!--              <small class="form-text text-warning"-->
      <!--                     *ngIf="changePwdForm.controls.newPassword.errors.required">Please enter your new Password!-->
      <!--              </small>-->
      <!--            </div>-->
    </div>
  </div>
  <div>
    <button class="button-green">Create Account</button>
  </div>
</div>
