<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="container">
      <form class="form" [formGroup]="searchForm" (keyup.enter)="onSubmit()">
          <label for="calendar.name"></label><input type="text" class="form-control" formControlName="name" id="calendar.name" placeholder="Search...">
          <div class="search"></div>
      </form>
    </div>
      <br/>
      <table class="table">
        <thead>
        <tr class ="table-titles">
          <th>
            Calendar Name
          </th>
          <th>
            Organization Name
          </th>
        </tr>
        </thead>
        <tbody class = "body">
        <tr *ngFor="let el of list2; let i = index">
          <td>
              <a class="nav-link" (click)="onSelectCalendar(el)" >{{el.name}}</a>
          </td>
          <td>
              <a class="nav-link" (click) = onSelectOrganization(a) *ngFor="let a of el.organizationName; let j = index"> {{a}}</a>
          </td>
          <td>
            <button class="edit" title="edit calendar"
                    (click)="onSelectEditCalendar(el)">edit</button>
          </td>
          <td>
          <button class="delete" title="delete calendar"
                  (click)="delete(el.id)">delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <table class="table">    <thead>  <tr class ="table-titles">
    <th>
      Create a new calendar named:
    </th>
  </tr></thead>      </table>
    </div><div>
    <input #calendarName />
          <button (click)="add(calendarName.value, [], [11]); calendarName.value=''">
    create
  </button></div>

</div>
