@import "../../../var.scss";

.filter {
  margin-bottom: 16pt;
}

.calendar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  width: 100%;
  margin-bottom: 16pt;

  > .avatar {
    box-sizing: border-box;

    margin-right: 8pt;

    border: 2pt solid transparent;

    &.blue {
      border-color: $blue;
    }

    &.green {
      border-color: $green;
    }

    &.yellow {
      border-color: $yellow;
    }

    &.orange {
      border-color: $orange;
    }

    &.red {
      border-color: $red;
    }

    &.violet {
      border-color: $violet;
    }
  }

  .calendar-details {
    width: 100%;
    color: var(--text);

    .calendar-name {
      font-weight: $f-bold;
      font-size: 24pt;
    }

    .calendar-description {
      margin-bottom: 4pt;
    }

  }

    .organization-info {
      display: flex;
      align-items: center;
      margin-bottom: 4pt;

      > .avatar {
        margin-right: 4pt;
      }
    }


  .calendar-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    * {
      font-size: 16pt;
      margin-left: 4pt;
    }
  }
}

.subscribed {
  color: var(--accent);
}
