@import "../../../var.scss";

.user-action-container {

  .user-action {
    display: inline-flex;
    text-transform: uppercase;
    font-size: 16pt;
    margin: 8pt 8pt 16pt 0;

    a {
      color: inherit;
    }

    &.primary-action {
      color: var(--accent);
    }

    &.dangerous {
      color: $red;
    }
  }
}
