<div class="contextual-control">{{currentTime}}</div>
<div class="grid-one-third">
  <app-weekly-calendar class="grid-item-1-2"></app-weekly-calendar>
  <div>
    <h2>Test Me</h2>

    <div style="margin-bottom: 8pt">
      <a href="/form/event">
        <button class="button-solid btn-lg" [disabled]="!authService.isLoggedIn()">Add New Event</button>
      </a>
      <small *ngIf="!authService.isLoggedIn()">You have to log in before you can make modifications.</small>
    </div>
    <div style="margin-bottom: 8pt">
      <a href="/organization/1">
        <button class="button-solid btn-lg">Organization 1</button>
      </a>
    </div>
  </div>
</div>
