<div class="contextual-control">{{currentTime}}</div>
<div class="grid-one-third">
  <app-weekly-calendar class="grid-item-1-2"></app-weekly-calendar>
  <div>
    <h2>Lorem ipsum</h2>

    <div style="margin-bottom: 8pt" *ngIf="authService.isLoggedIn()">
      <a href="/form/event/0">
        <button class="button-clickable button-solid btn-lg">Add New Event</button>
      </a>
    </div>
    <div style="margin-bottom: 8pt">
      <a href="/user">
        <button class="button-clickable button-solid btn-lg">¡Hola! Soy un MOCK USER.</button>
      </a>
    </div>
    <div style="margin-bottom: 8pt">
      <a href="/">
        <button class="button-clickable button-solid btn-lg">Bonjour! Je suis une MOCK ORGANIZATION.</button>
      </a>
    </div>
    <a href="/event/3" style="font-size: 24pt">Test Event 🎉</a>
    <p style="font-size: 24pt;color:#807C7C">Implement me! 😀</p>

  </div>
</div>
