@import "../../../var.scss";

.calendar-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-variant: all-small-caps;

  margin: 16pt 8pt 8pt 8pt;
  font-size: 16pt;

  .action {
    display: flex;
    align-items: center;

    fa-icon {
      margin-right: 4pt;

      position: relative;
      top: 1pt;
    }
  }
}
