<div class="contextual-control">
  <span class="clickable no-hover-enlarge" id="back-button" onclick="history.back()"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</span>
  <span *ngIf="organization&&isUpdate">Edit Team: {{organization.name}}</span>
  <span *ngIf="organization&&!isUpdate">New Team{{organization.name ? ": " + organization.name : ''}}</span>
</div>

<form *ngIf="organization" class="centered-one-third" (ngSubmit)="uploadImage()">
  <h2>{{isUpdate ? "Edit" : "Create"}} Organization</h2>
  <div class="avatar-container" *ngIf="organization">
    <img alt="" class="avatar avatar-medium" src="{{organization.coverImageUrl}}">
  </div>
  <label for="organization-avatar">
    Avatar
  </label>
  <div class="input-button-combo">
    <input type="file" name="organization-avatar" (change)="selectImage($event)"
           id="organization-avatar" accept="{{this.globals.allowedAvatarMimeTypes.join(',')}}">
    <button type="submit" class="no-hover-enlarge">Upload</button>
  </div>
</form>

<form *ngIf="organization" class="centered-one-third">
  <div class="form-group">
    <label for="organization.name">
      Name
    </label>
    <div class="input-button-combo">
      <input #organizationName [(ngModel)]="organization.name" [ngModelOptions]="{standalone: true}"
             class="form-control" id="organization.name" type=text>
      <button (click)="onSubmit(organizationName.value)"
              class="submit-button">Update
      </button>
    </div>
  </div>
</form>
