<div class="contextual-control">
  <span id="back-button"><a class="clickable no-hover-enlarge no-shadow" href="/"><fa-icon [icon]="faChevronLeft"></fa-icon>&ensp;Back</a></span>
  <span>@Abc</span>
</div>
<div class="grid-one-third">
  <div>
    <h2>You</h2>
    <div class="organization-info">
      <img alt="" class="avatar avatar-medium" src="https://picsum.photos/256/256/">
      <div class="organization-details">
        <div class="organization-name">{{organization.name}}</div>
      </div>
    </div>
    <div>
      Als kooperative und engagierte Interessensvertretung wollen wir eine offene Anlaufstelle sein,
      Studierende beim Studium unterstützen, untereinander vernetzen und kompetent beraten.
    </div>
    <div class="organization-action-container">
      <div class="organization-action dangerous clickable no-hover-enlarge no-shadow">
        Dissolve team
      </div>
    </div>
  </div>
  <div>
    <h2>Lorem</h2>
  </div>
  <div>
    <h2>Ipsum</h2>
  </div>
</div>
