<div class="contextual-control">
  <span id="back-button" class="clickable no-hover-enlarge no-shadow" onclick="history.back()"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</span>
  <span *ngIf="organization">Team: {{organization.name}}</span>
</div>
<div class="grid-one-third" *ngIf="organization">
  <div>
    <h2>You</h2>
    <div class="organization-info">
      <img alt="" class="avatar avatar-medium" src="https://picsum.photos/256/256/">
      <div class="organization-details">
        <div class="organization-name">{{organization.name}}</div>
      </div>
    </div>
    <div>
      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for
      real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
      <!-- TODO: Discuss if a description makes sense for a organization. -->
    </div>
    <div class="organization-action-container">
      <div class="organization-action dangerous clickable no-hover-enlarge no-shadow">
        Dissolve team
      </div>
    </div>
  </div>
  <div>
    <div class="title-icon-button-combo">
      <h2>People</h2>
      <div class="icon-button clickable no-hover-enlarge no-shadow">
        <fa-icon [icon]="faPlus"></fa-icon>
      </div>
    </div>

    <div class="organization-member-list">
      <div class="organization-member" *ngFor="let member of organizationMembers">
        <img alt="" class="avatar avatar-small" src="https://picsum.photos/256/256/">
        <div class="organization-member-details">
          <div class="organization-member-name">@{{member.username}}</div>
          <div class="organization-member-role">{{member.role}}</div>
        </div>
        <div class="organization-member-buttons">
          <div class="clickable no-hover-enlarge no-shadow organization-manage-member-button">
            <fa-icon [icon]="faCog"></fa-icon>
          </div>
          <div class="clickable no-hover-enlarge no-shadow organization-kick-member-button">
            <fa-icon [icon]="faTimesCircle"></fa-icon>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div>
    <h2>Calendars</h2>
    <div class="calendar-list">
      <a *ngFor="let cal of organizationCalendars" href="/calendar/{{cal.id}}">
        <div class="calendar-list-item clickable no-hover-enlarge no-shadow">{{cal.name}}
          <fa-icon [icon]="faChevronRight">Show Calendar</fa-icon>
        </div>
      </a>
    </div>
  </div>
</div>
