@import "../../../var.scss";

.organization-info {
  display: flex;
  align-items: center;

  padding: 16pt;

  margin-bottom: 16pt;

  .avatar {
    justify-self: flex-start;
    flex-shrink: 0;

    margin-right: 16pt;
  }

  .organization-details {
    text-align: right;
    justify-self: flex-end;
    flex-grow: 1;

    .organization-name {
      text-align: right;
      font-weight: $f-bold;
      font-size: 32pt;
    }
  }
}

.organization-action-container {
  .organization-action {
    text-align: center;
    text-transform: uppercase;
    font-size: 16pt;
    margin-top: 8pt;

    &.dangerous {
      color: $red;
    }
  }
}

.organization-member {
  display: flex;
  align-items: center;
  margin-bottom: 16pt;

  .organization-member-details {
    margin-left: 8pt;

    .organization-member-name {
      font-weight: $f-bold;
      font-size: 16pt;
    }
    .organization-member-role {
      color: var(--secondary);
    }
  }
  .organization-member-buttons {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    * {
      font-size: 16pt;
      margin-left: 4pt;
    }
  }
}

.title-icon-button-combo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon-button {
    font-size: 32pt;
    color: var(--secondary);
  }
}

.calendar-list {

  a {
    color: inherit;
  }

  .calendar-list-item {
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-size: 24pt;

    padding: 16pt 8pt;

    border-top: 1pt solid var(--text);
    border-bottom: 1pt solid var(--text);
  }
}
