@import "../../../var.scss";

* p b {
  font-weight: $f-bold;
}

.comment-item {
  margin-bottom: 2em;
}

.comment-metadata {
  display: flex;

  .comment-author {
    font-weight: $f-bold;
  }
}

.comment-content {
  margin: 1vw;
}


.comment-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  button {
    margin-right: 10px;
  }

  .rating-percentage {
    text-align: right;
    margin-right: 10px;
  }
}




