<div class="comment-item">

  <div class="conmment-content">
    {{this.comment.content}}
  </div>
  <div class="comment-metadata">
    <div class="comment-author">
      <fa-icon [icon]="faUserCircle">Author</fa-icon>&ensp;@{{this.author}}
    </div>
    <div class="comment-time">
      <fa-icon [icon]="faClock"></fa-icon>&ensp;an hour ago
    </div>
  </div>
<!--  <div class="comment-buttons">-->
<!--    <button (click)="vote(true)" class="button-green small-button icon-button">-->
<!--      <fa-icon [icon]="faThumbsUp"></fa-icon>-->
<!--    </button>-->
<!--    <div class="rating-percentage">{{this.comment.rating * 100 + '%'}}</div>-->
<!--    <button (click)="vote(false)" class="button-red small-button icon-button">-->
<!--      <fa-icon [icon]="faThumbsDown"></fa-icon>-->
<!--    </button>-->
<!--    <button (click)="respondButtonClicked()" class="button-blue small-button icon-button response-button">-->
<!--      <fa-icon [icon]="faReply"></fa-icon>-->
<!--    </button>-->
<!--  </div>-->

</div>
