@import "../../../var.scss";

* {
  line-height: 1.2;
}

.comment-item {
  margin-bottom: 2em;
}

.comment-metadata {
  display: flex;

  margin: 4pt 0;

  div {
    margin-right: 8pt;
  }

  .comment-author {
    display: flex;

    font-weight: $f-bold;

    align-items: center;
  }
}

.comment-content {
  line-height: 1.2 !important;
}


.comment-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  button {
    margin-right: 8pt;
  }

  .icon-button {
    width: 24pt;
  }

  .response-button {
    margin-left: 12pt;
  }

  .rating-percentage {
    text-align: right;
    margin-right: 10px;
  }
}




