<div class="comment-item">

  <div class="conmment-content">
    {{this.comment.content}}
  </div>
  <div class="comment-metadata">
    <div class="comment-author">
      <fa-icon [icon]="faUserCircle">Author</fa-icon>&ensp;{{this.author}}
    </div>
  </div>
  <div class="comment-buttons">
    <button class="button-clickable button-green" (click)="vote(true)">
      <fa-icon [icon]="faThumbsUp"></fa-icon>
    </button>
    <div class="rating-percentage">{{this.comment.rating * 100 + '%'}}</div>
    <button class="button-clickable button-red" (click)="vote(false)">
      <fa-icon [icon]="faThumbsDown"></fa-icon>
    </button>
    <button class="button-clickable button-blue response-button" (click)="respondButtonClicked()">
      Respond
    </button>
  </div>

</div>
