@import "../../../var.scss";

.filter {
  margin-bottom: 16pt;
}

.organization {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  width: 100%;
  margin-bottom: 16pt;

  > .avatar {
    margin-right: 8pt;
  }

  .organization-details {
    width: 100%;
    color: var(--text);

    .organization-name {
      font-weight: $f-bold;
      font-size: 24pt;
    }

    .organization-member-avatars {
      display: flex;

      > .avatar {
        margin-right: 2pt;
      }
    }
  }

  .organization-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    * {
      font-size: 16pt;
      margin-left: 4pt;
    }
  }
}
