<div class="contextual-control">
  <span id="back-button"><a class="clickable no-hover-enlarge" href="/"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</a></span>
</div>

<div class="centered-two-third">
  <div class="title-icon-button-combo">
    <h2>Organizations</h2>
    <div class="icon-button clickable no-hover-enlarge">
      <fa-icon [icon]="faPlus" routerLink="/form/organization"></fa-icon>
    </div>
  </div>
  <form class="filter input-button-combo" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <label for="organization.name"></label>
    <input class="form-control" formControlName="name" id="organization.name" placeholder="Filter…" value="" type="text">
    <button type="reset" *ngIf="searchActive" (click)="clearSearch()" class="button-red flat-right-side">Clear</button>
    <button type="submit" >Filter</button>
  </form>
  <div class="">
    <div *ngFor="let org of this.organizations" class="organization">
      <img alt="" class="avatar avatar-small" src="{{org.coverImageUrl}}">
      <div class="organization-details clickable no-hover-enlarge" routerLink='/organization/{{org.id}}'>
        <div class="organization-name">{{org.name}}</div>
        <div class="organization-member-avatars">
          <img alt="" class="avatar avatar-ultra-small" *ngFor="let avatar of organizationUserAvatars.get(org)"
               src="{{avatar}}">
        </div>
      </div>
      <div class="organization-buttons">
        <fa-icon *ngIf="org.canEdit" [icon]="faCog" class="clickable no-hover-enlarge"
                 routerLink="/form/organization/{{org.id}}">
          Edit Calendar
        </fa-icon>
        <fa-icon *ngIf="org.canDelete" (click)="onClickedDelete(org.id)" [icon]="faTimesCircle"
                 class="clickable no-hover-enlarge">
          Remove Calendar
        </fa-icon>
      </div>
    </div>
  </div>
</div>
