<div class="contextual-control">
  <span class="clickable no-hover-enlarge" id="back-button" onclick="history.back()"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</span>
</div>

<div class="centered-two-third">
  <h2>Search Events</h2>
  <form class="filter input-button-combo" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <label for="calendar.name"></label>
    <input class="form-control" formControlName="name" id="calendar.name" value=""
           type="text">
    <button type="reset" *ngIf="searchActive" (click)="clearSearch()" class="button-red no-hover-enlarge flat-right-side">Clear
    </button>
    <button type="submit" class="no-hover-enlarge">Search</button>
  </form>
  <app-promo-event-list *ngIf="searchActive" [eventList]="eventSearchResult"></app-promo-event-list>
</div>
