<div class="suggestion-container">
  <div class="heading-icon">
    <fa-icon [icon]="faExclamationTriangle">Heads up!</fa-icon>
  </div>

  <h3>Similar events are planned for the same time.</h3>
  <app-promo-event-list [eventList]="getSortedCollisionEvents()"></app-promo-event-list>
  <h4>Alternative Dates</h4>
  <form (ngSubmit)="onSubmit()" class="alternative-date-picker">
    <label *ngFor="let reducedEvent of getEventListWithSuggestedDate(); let i = index;">
      <input type="radio" name="newEvent" [value]="i" (click)="onSelect(i)" [checked]="i === selectedDateIndex">
      {{getEventDateAndTimeString(reducedEvent)}}
    </label>
    <button type="submit" [disabled]="selectedDateIndex === null">Update</button>
  </form>
</div>
