@import "../../../var.scss";

#label-container {
  display: flex;
  margin-bottom: 12pt;
  align-items: center;

  .label-item {
    border: 1px solid var(--text);
    padding: 2pt 8pt;
    border-radius: $rounded-radius;
    margin-right: 8pt;

    fa-icon {
      font-size: 0.75em;
    }
  }
}

.event-promo-container {
  display: flex;
  align-items: flex-end;

  background-color: var(--shadow);

  height: 40em;

  border-radius: $rounded-radius;

  .event-promo-details {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;

    padding: 16pt;
    background-color: var(--overlay);

    .event-time {
    }

    .event-name {
      font-size: 36pt;
      font-weight: $f-bold;
    }

    .event-description {

    }
  }
}

.details-stack {
  > *:not(h2) {
    margin-bottom: 32pt;
  }
}

.participation-button-container {
  text-align: center;
  width: 100%;

  button {
    margin: 0 16pt;
  }
}

.participation-status {
  .participation-status-item {
    text-align: center;

    .participation-count {
      font-size: 36pt;
      font-weight: $f-bold;

      text-align: center;
      text-transform: uppercase;
    }

    .participation-label {
      font-size: 12pt;
      font-weight: $f-bold;

      text-align: center;
      text-transform: uppercase;
    }
  }

  margin-bottom: 8pt;
}

.organization-info {
  display: flex;

  padding: 16pt;

  .avatar {
    justify-self: flex-start;
    flex-shrink: 0;

    margin-right: 16pt;
  }

  .organization-details {
    text-align: right;
    justify-self: flex-end;

    .organization-name {
      font-weight: $f-bold;
      font-size: 16pt;
    }
  }
}

#comment-area {
  display: flex;
  flex-wrap: wrap;

  background-color: var(--overlay);

  textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  * {
    width: 100%;
  }
}

label[for=comment-area] {
  display: none;
}

.event-location-map-container {
  border-radius: $rounded-radius;
  overflow: hidden;
  position: relative;

  height: 20em;

  iframe {
    height: 20em;
  }
}
