@import "../../../var.scss";

#label-container {
  display: flex;
  margin-bottom: 12pt;
  align-items: center;

  .label-item {
    border: 1px solid var(--text);
    padding: 2pt 8pt;
    border-radius: 5px;
    margin-right: 8pt;

    fa-icon {
      font-size: 0.75em;
    }
  }
}

.event-promo-container {
  display: flex;
  align-items: flex-end;

  height: 100%;
  width: 100%;

  border-radius: 4pt;
  overflow: hidden;

  .event-promo-details {
    border-radius: 0 0 4pt 4pt;
    width: 100%;

    padding: 16pt;
    background-color: var(--overlay);
    backdrop-filter: blur(4pt);

    .event-time {
    }

    .event-name {
      font-size: 36pt;
      font-weight: $f-bold;
    }

    .event-description {

    }
  }
}

.button-container {
  display: flex;
  text-align: center;
  width: 100%;

  justify-content: space-around;
}

.event-attending-status {
  .event-attending-status-item {
    text-align: center;

    .event-attending-count {
      font-size: 36pt;
      font-weight: $f-bold;

      text-align: center;
      text-transform: uppercase;
    }

    .event-attending-label {
      font-size: 12pt;
      font-weight: $f-bold;

      text-align: center;
      text-transform: uppercase;
    }
  }

  margin-bottom: 8pt;
}

#comment-container {

}

#comment-area {
  appearance: none;
  width: 100%;
}

label[for=comment-area] {
  display: none;
}

.event-location-map-container {
  border-radius: 4pt;
  overflow: hidden;
  position: relative;

  box-sizing: border-box;
  height: 20em;

  iframe {
    height: 20em;
  }
}
