<div *ngIf="calendarEvent">
  <div class="contextual-control">
    <span class="clickable no-hover-enlarge" id="back-button" onclick="history.back()"><fa-icon
      [icon]="faChevronLeft"></fa-icon>&ensp;Back</span>
    <span>Event: {{calendarEvent.name}}</span>
  </div>
  <div class="grid-one-third scroll">
    <div>
      <div class="title-icon-button-combo">
        <h2>Event</h2>
        <div class="icon-button clickable no-hover-enlarge">
          <fa-icon *ngIf="calendarEvent.canEdit" [icon]="faCog" class="clickable no-hover-enlarge"
                   routerLink="/form/event/{{id}}">
            Edit
          </fa-icon>
        </div>
      </div>
      <div class="event-promo-container mobile-full-width"
           [style.background-image]="'url('+globals.backendUri+calendarEvent.coverImageUrl.slice(1)+')'">
        <div class="event-promo-details">
          <div class="event-time">{{getEventDateAndTimeString()}}</div>
          <div class="event-name">{{calendarEvent.name}}</div>
          <div class="event-description">{{calendarEvent.description}}</div>
        </div>
      </div>
    </div>
    <div class="details-stack">
      <h2>Details</h2>
      <div id="label-container">
        <div *ngFor="let label of labels" class="label-item">
          <fa-icon [icon]="faTag"></fa-icon>&ensp;{{label.name}}
        </div>
      </div>
      <div>
        <div class="participation-status actions-one-third">
          <div class="participation-status-item"
               [style.color]="userParticipationStatus===AttendanceStatusPossibilities.ATTENDING?'var(--accent)':undefined">
            <div class="participation-count">{{participants.attending.length}}</div>
            <div class="participation-label">Attending</div>
          </div>
          <div class="participation-status-item"
               [style.color]="userParticipationStatus===AttendanceStatusPossibilities.INTERESTED?'var(--accent)':undefined">
            <div class="participation-count">{{participants.interested.length}}</div>
            <div class="participation-label">Interested</div>
          </div>
          <div class="participation-status-item"
               [style.color]="userParticipationStatus===AttendanceStatusPossibilities.DECLINED?'var(--accent)':undefined">
            <div class="participation-count">{{participants.declined.length}}</div>
            <div class="participation-label">Declined</div>
          </div>
        </div>
        <div class="participation-button-container actions-one-third">
          <button *ngIf="userParticipationStatus!==AttendanceStatusPossibilities.ATTENDING"
                  (click)="participate(AttendanceStatusPossibilities.ATTENDING)" class="button-blue" [style.order]="1">
            Attend
          </button>
          <button *ngIf="userParticipationStatus!==AttendanceStatusPossibilities.INTERESTED"
                  (click)="participate(AttendanceStatusPossibilities.INTERESTED)" class="button-yellow"
                  [style.order]="2">
            Interested
          </button>
          <button *ngIf="userParticipationStatus!==AttendanceStatusPossibilities.DECLINED"
                  (click)="participate(AttendanceStatusPossibilities.DECLINED)" class="button-red" [style.order]="3">
            Decline
          </button>
          <button *ngIf="userParticipationStatus !== null"
                  (click)="resetParticipation()" [style.order]="userParticipationStatus?userParticipationStatus:3">
            Reset
          </button>
        </div>
      </div>
      <div class="calendar-info" *ngIf="calendar">
        <div class="calendar-name clickable no-hover-enlarge" routerLink="/calendar/{{calendar.id}}">
          <fa-icon [icon]="faCalendar"></fa-icon>
          {{calendar.name}}
        </div>
        <div class="calendar-organizations">
          <div class="organization-info clickable no-hover-enlarge" *ngFor="let org of calendarOrganizations"
               routerLink="/organization/{{org.id}}">
            <img alt="" class="avatar avatar-medium" src="{{getOrganizationAvatarLink(org.id, 256)}}">
            <div class="organization-details">
              <div class="organization-name">{{org.name}}</div>
              <div>This is where a short description of the organization should go.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="event-location">
        <div class="event-location-map-container">
          <iframe id="open-street-map-iframe"
                  src="//www.openstreetmap.org/export/embed.html?bbox=16.36812955141068%2C48.19411795494773%2C16.371696889400486%2C48.19578432955719&amp;layer=mapnik"></iframe>
        </div>
        <small><a href="https://www.openstreetmap.org/#map=19/48.19495/16.36991">View Larger Map</a></small>
      </div>
    </div>
    <div>
      <h2>Comments</h2>
      <div *ngFor="let comment of comments" class="comment-div">

        <app-event-comment [comment]="comment"></app-event-comment>
        <div><fa-icon *ngIf="(calendarEvent.canEdit)" (click)="deleteComment(this.comment.id)" [icon]="faTimesCircle" class="clickable no-hover-enlarge">delete</fa-icon>
        </div>

      </div>


      <div *ngIf="user != null"  id="comment-area">
        <label for="comment-textarea">
        </label>
        <textarea  class="no-outline" id="comment-textarea" name="comment" placeholder="Leave a comment…" #njf
                 ></textarea>
        <button (click)="addComment(njf.value)" class="full-width-form-button no-hover-enlarge btn-lg">Send
        </button>
      </div>


    </div>

  </div>

</div>
