<div class="heading" id="weekly-cal-heading">
  <span id="weekly-cal-month">
    {{this.offset ? displayingWeek[3].toLocaleString('en-US', {month: 'long'}) : currentMonth}}
  </span>
  <span *ngIf="!this.offset" id="weekly-cal-date">{{currentDate}}, </span>
  <span id="weekly-cal-year">
    {{this.offset ? displayingWeek[3].getFullYear() : currentYear}}
  </span>
</div>

<div (click)="minusOneWeek()" class="calendar-navigation desktop">
  <fa-icon [icon]="faChevronUp">Last week</fa-icon>
</div>

<div class="calendar-navigation mobile">
  <fa-icon (click)="minusOneDay()" [icon]="faChevronLeft">Last day</fa-icon>
  <fa-icon (click)="addOneDay()" [icon]="faChevronRight">Next day</fa-icon>
</div>

<div class="calendar mobile">
  <div class="week-day-label">{{displayingDate.toLocaleDateString('en-US', {weekday: 'short'})}}</div>
  <div [ngClass]="{'today': isToday(displayingDate)}" class="calendar-date-label">
    {{displayingDate.toLocaleDateString('en-US', {month: 'short', day: 'numeric'})}}
  </div>

  <div class="calendar-day-swim-lane">
    <div *ngFor="let event of this.eventsOfTheWeek.get(displayingDate.toISOString())"
         [style.grid-row]="getDisplayRows(event, displayingDate)"
         class="calendar-event">
      <div *ngIf="event != null" class="calendar-event-time">{{this.getDisplayTimeString(event)}}</div>
      <div *ngIf="event != null" class="calendar-event-name">{{event.name}}</div>
    </div>
  </div>
</div>

<div class="grid-one-sixth calendar desktop">
  <div class="week-day-label">Mon</div>
  <div class="week-day-label">Tue</div>
  <div class="week-day-label">Wed</div>
  <div class="week-day-label">Thu</div>
  <div class="week-day-label">Fri</div>
  <div class="week-day-label">Sat/Sun</div>

  <div *ngFor="let date of this.displayingWeek.slice(0,5)" [ngClass]="{'today': isToday(date)}"
       class="calendar-date-label">{{date.getDate()}}</div>
  <div class="calendar-date-label">
    <sup [ngClass]="{'today': isToday(this.displayingWeek[5])}">{{this.displayingWeek[5].getDate()}}</sup>
    ⁄
    <sub [ngClass]="{'today': isToday(this.displayingWeek[6])}">{{this.displayingWeek[6].getDate()}}</sub>
  </div>

  <div *ngFor="let date of this.displayingWeek.slice(0,5)" class="calendar-day-swim-lane">
    <div *ngFor="let event of this.eventsOfTheWeek.get(date.toISOString())"
         [style.grid-row]="getDisplayRows(event, date)"
         class="calendar-event" routerLink="/event/{{event.id}}">
      <div class="calendar-event-time">{{this.getDisplayTimeString(event)}}</div>
      <div class="calendar-event-name">{{event.name}}</div>
    </div>
  </div>
  <div class="calendar-day-swim-lane weekend-lane-container">
    <div class="weekend-sat">
      <div *ngFor="let event of this.eventsOfTheWeek.get(displayingWeek[5].toISOString())"
           [style.grid-row]="getDisplayRows(event, displayingWeek[5])"
           class="calendar-event " routerLink="/event/{{event.id}}">
        <div class="calendar-event-time">{{this.getDisplayTimeString(event)}}</div>
        <div class="calendar-event-name">{{event.name}}</div>
      </div>
    </div>
    <div class="weekend-sun">
      <div *ngFor="let event of this.eventsOfTheWeek.get(displayingWeek[6].toISOString())"
           [style.grid-row]="getDisplayRows(event, displayingWeek[6])"
           class="calendar-event weekend-sun" routerLink="/event/{{event.id}}">
        <div class="calendar-event-time">{{this.getDisplayTimeString(event)}}</div>
        <div class="calendar-event-name">{{event.name}}</div>
      </div>
    </div>
  </div>
</div>

<div (click)="addOneWeek()" class="calendar-navigation desktop">
  <fa-icon [icon]="faChevronDown">Next week</fa-icon>
</div>
