
<div id="weekly-cal-heading" class="heading">
  <span id="weekly-cal-month">{{currentMonth}}</span>
  <span id="weekly-cal-date">{{currentDate}}</span>
</div>

<div class="grid-one-sixth">
  <div class="week-day-label">Mon</div>
  <div class="week-day-label">Tue</div>
  <div class="week-day-label">Wed</div>
  <div class="week-day-label">Thu</div>
  <div class="week-day-label">Fri</div>
  <div class="week-day-label">Sat/Sun</div>

<!-- TODO: The dates should be generated. This is not yet the case. -->
  <div class="calendar-date today">4</div>
  <div class="calendar-date">5</div>
  <div class="calendar-date">6</div>
  <div class="calendar-date">7</div>
  <div class="calendar-date">8</div>
  <div class="calendar-date"><sup>9</sup>⁄<sub>10</sub></div> <!-- Maybe a different representation will make more sense? -->


</div>
