<div id="weekly-cal-heading" class="heading">
  <span id="weekly-cal-month">
    {{this.offset ? week[3].toLocaleString('en-US', {month: 'long'}) : currentMonth}}
  </span>
  <span id="weekly-cal-date" *ngIf="!this.offset">{{currentDate}}, </span>
  <span id="weekly-cal-year">
    {{this.offset ? week[3].getFullYear() : currentYear}}
  </span>
</div>

<div class="calendar-navigation" (click)="minusOneWeek()">
  <fa-icon [icon]="faChevronUp">Last week</fa-icon>
</div>

<div class="grid-one-sixth">
  <div class="week-day-label">Mon</div>
  <div class="week-day-label">Tue</div>
  <div class="week-day-label">Wed</div>
  <div class="week-day-label">Thu</div>
  <div class="week-day-label">Fri</div>
  <div class="week-day-label">Sat/Sun</div>

  <div *ngFor="let date of this.week.slice(0,5)" class="calendar-date-label"
       [ngClass]="{'today': isToday(date)}">{{date.getDate()}}</div>
  <div class="calendar-date-label">
    <sup [ngClass]="{'today': isToday(this.week[5])}">{{this.week[5].getDate()}}</sup>
    ⁄
    <sub [ngClass]="{'today': isToday(this.week[6])}">{{this.week[6].getDate()}}</sub>
  </div>

  <div *ngFor="let date of this.week.slice(0,5)" class="calendar-day-swim-lane">
    <div *ngFor="let event of this.eventsOfTheWeek.get(date.toISOString())" class="calendar-event"
         [style.grid-row]="getDisplayRows(event)">
      <div class="calendar-event-time">{{getDisplayTimeString(event)}}</div>
      <div class="calendar-event-name">{{event.name}}</div>
    </div>
  </div>
  <div class="calendar-day-swim-lane weekend-lane-container">
    <div class="weekend-sat">
      <div *ngFor="let event of this.eventsOfTheWeek.get(week[5].toISOString())" class="calendar-event "
           [style.grid-row]="getDisplayRows(event)">
        <div class="calendar-event-time">{{getDisplayTimeString(event)}}</div>
        <div class="calendar-event-name">{{event.name}}</div>
      </div>
    </div>
    <div class="weekend-sun">
      <div *ngFor="let event of this.eventsOfTheWeek.get(week[6].toISOString())" class="calendar-event weekend-sun"
           [style.grid-row]="getDisplayRows(event)">
        <div class="calendar-event-time">{{getDisplayTimeString(event)}}</div>
        <div class="calendar-event-name">{{event.name}}</div>
      </div>
    </div>
  </div>
</div>

<div class="calendar-navigation" (click)="addOneWeek()">
  <fa-icon [icon]="faChevronDown">Next week</fa-icon>
</div>

<script>
  function isOverflowing(element) {
    return element.offsetWidth < element.scrollWidth;
  }

  Array.from(document.getElementsByClassName('calendar-event'))
    .forEach(event => {
      const time = event.childMatchedQueries('.calendar-event-time');
      const name = event.childMatchedQueries('.calendar-event-name');

      if (isOverflowing(time) || isOverflowing(name)) {
        time.style.display = 'none';
        time.name.display = 'none';
      }

    })
</script>
