@import url("https://use.typekit.net/jzu4fxj.css");
@import "./var.scss";

:root {
  color-scheme: light dark;

  --background: #F7FAF8;
  --text: #141111;
  --secondary: #807C7C;
  --accent: #7CC9F2;

  --overlay: rgba(247, 250, 248, 0.5);
  --shadow: rgba(20, 17, 17, 0.25);
  --placeholder: rgba(20, 17, 17, 0.75);

  @media (prefers-color-scheme: dark) {

    --background: #141111;
    --text: #F7FAF8;
    --secondary: #807c7c;
    --accent: #7CC9F2;

    --overlay: rgba(20, 17, 17, 0.5);
    --shadow: rgba(247, 250, 248, 0.25);
    --placeholder: rgba(247, 250, 248, 0.75);
  }
}


body {
  background-color: var(--background);
  color: var(--text);

  max-width: 100%;

  font-family: $font-stack;
  font-weight: $f-regular;

  line-height: 1;
}

.container {
  margin: 0;
  padding: 12pt;

  max-width: 100%;

  @media screen and (min-width: $mobile-breakpoint) {
    padding: 0 72pt;
  }
}

h1, h2, .heading, .heading * {
  font-size: 36pt;
  font-weight: $f-bold;

  text-transform: uppercase;

  h1 {
    font-size: 44pt;
  }
}

h3, h4, h5, h6 {
  margin: 8pt 0 4pt;
}

img {
  display: block;
}

a {
  color: $blue;

  &:hover, &:focus {
    color: transparentize($blue, 0.75);
    text-decoration: none;
  }
}

.contextual-control {
  display: flex;
  font-size: 16pt;

  align-items: center;

  fa-icon {
    font-size: 0.75em;
    color: inherit;
  }

  span::after {
    content: " | ";
  }

  span:last-of-type::after {
    content: none;
  }

  a {
    color: inherit;
  }
}

@media screen and (min-width: $mobile-breakpoint) {
  .grid-one-third {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;

    &.scroll > * {
      overflow-y: scroll;

      h2 {
        position: sticky;
        top: 0;

        background-image: linear-gradient(0deg, var(--overlay), var(--background));
      }
    }

    &.no-gap {
      column-gap: 0;
    }

    .grid-item-1-2 {
      grid-column: 1/3;
    }

    .grid-item-2 {
      grid-column: 2/3;
    }

    .grid-item-3 {
      grid-column: 3/4;
    }
  }

  .centered-one-third {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;

    * {
      grid-column: 2/3;
    }
  }

  .centered-two-third {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    column-gap: 4rem;

    * {
      grid-column: 2/3;
    }
  }
}

//SECTION: Buttons

.clickable {
  cursor: pointer;
  user-select: none;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

  &:not(.no-shadow) {
    box-shadow: 1px 1px 2px var(--shadow);
  }

  @media (hover: hover) {
    &:not(.no-hover-enlarge):hover {
      transform: scale(1.05);
      box-shadow: 4px 4px 8px var(--shadow);
    }

    &.no-hover-enlarge:hover {
      opacity: 0.75;
    }
  }

  &:focus {
    opacity: 0.75;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  color: $black;
  border: none;
  border-radius: $rounded-radius;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px var(--shadow);
  background-image: linear-gradient(15deg, transparentize($white, 1), transparentize($white, 0.75));
  background-color: var(--background);

  user-select: none;

  @media (hover: hover) {
    &:not(.no-hover-enlarge):hover {
      transform: scale(1.05);
      box-shadow: 4px 4px 8px var(--shadow);
    }

    &.no-hover-enlarge:hover {
      opacity: 0.75;
    }
  }

  &:disabled {
    cursor: not-allowed;

    opacity: 0.25;

    @media (hover: hover) {
      transform: none !important;
      opacity: 0.25 !important;
    }
  }

  &:focus {
    opacity: 0.75;
  }

  &.button-green {
    background-color: $green;
  }

  &.button-red {
    background-color: $red;
  }

  &.button-blue {
    background-color: $blue;
  }

  &.button-yellow {
    background-color: $yellow;
  }

  &.button-outlined {
    border: 1.25pt solid var(--text);
    color: var(--text);
    background-image: none;
  }

  &.button-solid {
    background-color: var(--text);
    color: var(--background);
  }

  &.small-button {
    border-radius: 3.5pt;
  }

  &.full-width-form-button {
    appearance: none;

    color: inherit;
    background-color: var(--shadow) !important;
    background-image: none;

    box-shadow: none;
    width: 100%;
    padding: 8pt;
    font-size: 16pt;
    font-weight: $f-bold;

    border: none;
    border-top: 2pt solid var(--text);
    border-radius: 0 0 4pt 4pt;

    &.event-form-submit {
      padding: 16pt 8pt;
      background-color: var(--overlay) !important;
    }
  }
}

input, select, textarea {
  padding: 4pt;

  border-radius: $rounded-radius;
  border: none !important;

  resize: none;
  background-color: var(--shadow) !important;
  color: var(--text) !important;

  &.no-outline {
    outline: none !important;
  }
}

textarea {
  height: 64pt;
}

iframe {
  width: 100%;
  border: none;
}

::placeholder {
  color: var(--secondary);
}

.avatar {
  border-radius: 100%;
  user-select: none;
  -webkit-user-drag: none;
  background-color: var(--shadow);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur();
  flex-grow: 0;
  flex-shrink: 0;

  &.avatar-ultra-small {
    height: 16pt;
    width: 16pt;

    fa-icon {
      font-size: 16pt;
    }
  }

  &.avatar-small {
    height: 48pt;
    width: 48pt;

    fa-icon {
      font-size: 48pt;
    }
  }

  &.avatar-medium {
    height: 72pt;
    width: 72pt;

    fa-icon {
      font-size: 72pt;
    }
  }
}

.input-button-combo {
  display: flex;
  flex-wrap: nowrap;

  input {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button {
    padding: 0 16pt;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.flat-bottom {
    input {
      border-bottom-left-radius: 0;
    }

    button {
      border-bottom-right-radius: 0;
    }
  }
}

.title-icon-button-combo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon-button {
    font-size: 32pt;
    color: var(--secondary);
  }
}
