@import url("https://use.typekit.net/jzu4fxj.css");

$font-stack: "upgrade", "Avenir Neue", "Avenir", "Helvetica", sans-serif;
$f-regular: 300;
$f-bold: 600;

$white: #F7FAF8;
$black: #141111;
$gray: #807C7C;
$blue: #7CC9F2;
$green: #7EDEA3;
$yellow: #FACD6B;
$orange: #E8986D;
$red: #F2857C;
$violet: #AD6FBD;

:root {
  --background: $white;
  --text: $black;
  --secondary: $gray;
  --accent: saturate(mix($blue, $black, 75), 50);

  --clickable-box-shadow-color: transparentize($black, 0.75);

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: $black;
    --text: $white;
    --secondary: $gray;
    --accent: desaturate(mix($blue, $white, 75), 50);

    --clickable-box-shadow-color: transparentize($white, 0.75);
  }
}

