$font-stack: "upgrade", "Avenir Neue", "Avenir", "Helvetica", sans-serif;
$f-regular: 300;
$f-bold: 600;

$white: #F7FAF8;
$black: #141111;
$gray: #807C7C;
$blue: #7CC9F2;
$green: #7EDEA3;
$yellow: #FACD6B;
$orange: #E8986D;
$red: #F2857C;
$violet: #AD6FBD;

$mobile-breakpoint: 800pt;

$mobile-object-full-height: 360pt;
$desktop-object-full-height: calc(100vh - 184pt);

$rounded-radius: 4pt;
