@import "../../../var.scss";

.form-incorrect {
  background-color: #f2847c73;
  border-color: #f2847c
}

form {
  label {
    display: none;
  }
}

.event-form-container {
  display: flex;
  align-items: flex-end;

  background-color: var(--secondary);

  height: 40em;

  border-radius: $rounded-radius;

  .event-form {
    border-radius: 0 0 4pt 4pt;
    width: 100%;

    .event-form-input {
      padding: 16pt;
      background-color: var(--overlay);

      color: var(--text);

      ::placeholder {
        color: var(--placeholder); //TODO: Make a placeholder var0
      }

      .form-row {
        margin: 0 0 4pt;
      }

      .event-time {
        width: 100%;

        display: flex;

        flex-shrink: 1;
        justify-content: space-between;
        align-items: center;

        input {
          position: relative;

          //  //FIXME: Use EventEmitter to make this work and not just static.
          //  ~ app-datetime-picker {
          //    display: none;
          //  }
          //
          //  &:focus ~ app-datetime-picker {
          //    display: block;
          //
          //    position: absolute;
          //  }
          //}
          //
          //app-datetime-picker {
          //  &:hover, &:focus {
          //    display: block;
          //  }
          //
        }
      }

      .event-name {
        font-size: 36pt;
        font-weight: $f-bold;
      }

      .event-description {

      }
    }
  }
}

.suggestions-container {
  box-sizing: border-box;

  .suggestion-item {
    padding: 4pt 8pt;
    border-left: 4pt solid $yellow;
    background-color: transparentize($yellow, 0.85);
  }
}

