<div class="contextual-control">
  <span class="clickable no-hover-enlarge no-shadow" id="back-button" onclick="history.back()"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</span>
</div>
<div>
  <h2>{{this.title}}</h2>
  <div class="row">
    <div class="col-md-8">
      <h4>Event Details</h4>
      <p>Please note that fields marked with * are <b>required fields</b>. </p>
      <div class="form-group">

        <label for="event.calendarId">Calendar: * </label>
        <select [(ngModel)]="event.calendarId" class="form-control" id="event.calendarId">
          <option *ngFor="let cal of editableCalendars" [selected]="cal.id === event.calendarId"
                  value="{{cal.id}}">{{cal.name}}</option>
        </select>
        <hr>

        <label for="event.name">Name: *</label>
        <input [(ngModel)]="event.name" class="form-control" id="event.name" type="text">
        <hr>

        <label for="event.description">Description:</label>
        <textarea [(ngModel)]="event.description" class="form-control" id="event.description" type="text">
        </textarea>
        <hr>

        <div class="row mat-form-container">
          <div class="col-sm-6 mat-datepicker-container">
            <mat-form-field>
              <mat-label for="event.startDateTime">Start Date & Time</mat-label>
              <input [(ngModel)]="event.startDateTime" [ngxMatDatetimePicker]="startDateTimePicker"
                     id="event.startDateTime"
                     (change)="getEventConflicts()"
                     matInput>
              <mat-datepicker-toggle [for]="startDateTimePicker" matSuffix></mat-datepicker-toggle>
              <ngx-mat-datetime-picker
                #startDateTimePicker
                (change)="getEventConflicts()"
                [showSeconds]="this.pickerConfig.showSeconds"
                [stepHour]="this.pickerConfig.stepHour"
                [stepMinute]="this.pickerConfig.stepMinute"
              ></ngx-mat-datetime-picker>
            </mat-form-field>
          </div>
          <div class="col-sm-6 mat-datepicker-container">
            <mat-form-field>
              <mat-label for="event.endDateTime">End Date & Time</mat-label>
              <input [(ngModel)]="event.endDateTime" [ngxMatDatetimePicker]="endDateTimePicker"
                     id="event.endDateTime"
                     (change)="getEventConflicts()"
                     matInput>
              <mat-datepicker-toggle [for]="endDateTimePicker" matSuffix></mat-datepicker-toggle>
              <ngx-mat-datetime-picker
                #endDateTimePicker
                (change)="getEventConflicts()"
                [showSeconds]="this.pickerConfig.showSeconds"
                [stepHour]="this.pickerConfig.stepHour"
                [stepMinute]="this.pickerConfig.stepMinute"
              ></ngx-mat-datetime-picker>
            </mat-form-field>
          </div>

        </div>
        <hr>
        <label for="label-picker">Labels: </label>
        <div *ngIf="labels">
          <li *ngFor="let label2 of labelspicked">

            <label>selected:
              <input [(ngModel)]="label2.name" placeholder="name"/><button (click)="onRemove(label2)"class="button-green clickable btn-lg">remove</button>
            </label>
          </li>
        </div>

        <div id="label-picker" style="background-color: var(--shadow); border-radius: 4pt; padding: 1em; height: 150px">
          <li *ngFor="let label of labels">{{label.name}}<button (click)="onSelect(label)"class="button-green clickable btn-lg">add</button></li>

        </div>
      </div>
      <hr>

      <label for="location-picker">Location</label>
      <input [(ngModel)]="event.location" id="location" name="location" type="hidden">
      <div id="location-picker">
        <app-event-location (locationSaved)="saveLocationToEvent($event)"
                            [location]="event.location"></app-event-location>
      </div>
      <hr>

      <button (click)="onSubmit()" class="button-green clickable btn-lg">Submit</button>
    </div>
    <div class="col-md-4">
      <h4>Suggestions</h4>
      <p>The application will deliver smart recommendations as you complete the event entry. <a
        href="/explanation/eventcollision">Learn More. </a>
      </p>
      <button (click)="getEventConflicts()">Check For Conflicts</button>
      <div class="suggestions-container">
        <div class="suggestion-item" *ngIf="conflictExists">
          <app-event-conflict-resolver
            [event]="event" [collisionResponse]="collisionResponse" (change)="updateFromConflictResolver($event)">
          </app-event-conflict-resolver>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<form [formGroup]="reactiveEventForm" class="grid-one-third">-->
<!--  <div>-->
<!--    <h2>New Event</h2>-->
<!--    <div class="event-form-container">-->
<!--      <div class="event-form">-->
<!--        <div class="event-form-input">-->
<!--          <input type="hidden" formControlName="id" name="id" [(ngModel)]="event.id">-->
<!--                I don't know other elegant way to 2-way bind the data with form fields other than ngModel.-->
<!--          &ndash;&gt;-->
<!--          <div class="form-row calendar">-->
<!--            <label for="event.calendarId">Calendar</label>-->
<!--            <select class="form-control" formControlName="calendarId" id="event.calendarId">-->
<!--              <option *ngFor="let cal of editableCalendars" value="{{cal.id}}">{{cal.name}}</option>-->
<!--            </select>-->
<!--          </div>-->
<!--          <div class="form-row event-time">-->
<!--              <mat-form-field>-->
<!--                <mat-label>Start Date & Time </mat-label>-->

<!--                <input matInput [ngxMatDatetimePicker]="startDateTimePicker" [(ngModel)]="event.startDateTime">-->
<!--                <mat-datepicker-toggle matSuffix [for]="startDateTimePicker"></mat-datepicker-toggle>-->
<!--                <ngx-mat-datetime-picker #startDateTimePicker></ngx-mat-datetime-picker>-->
<!--              </mat-form-field>-->

<!--              <label for="event.endDate">End</label>-->
<!--              <input type="datetime-local" class="form-control" formControlName="endDate" id="event.endDate"-->
<!--                     placeholder="End …" [(ngModel)]="event.endDateTime">-->
<!--            </div>-->
<!--          </div>-->
<!--          <label for="event.name">Name</label>-->
<!--          <input type="text" class="form-control event-name form-row" formControlName="name" id="event.name"-->
<!--                 placeholder="Event Name …" [(ngModel)]="event.name">-->

<!--          <label for="event.description">Description</label>-->
<!--          <input type="text" class="form-control form-row" id="event.description"-->
<!--                 placeholder="Description …" value="Description not yet implemented">-->
<!--        </div>-->

<!--        <button class="submit-button button-clickable full-width-form-button no-hover-enlarge event-form-submit"-->
<!--                (click)="onSubmit()">Submit-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  <div>-->
<!--    <h2>Details</h2>-->
<!--    <h3>Labels</h3>-->
<!--    <label for="label-picker">Labels</label>-->
<!--    <input type="hidden" id="labels" name="labels" value="123">-->
<!--    <div id="label-picker" style="background-color: var(&#45;&#45;shadow); border-radius: 4pt; padding: 1em; height: 150px">-->
<!--      I am a label picker.-->
<!--    </div>-->


<!--  </div>-->
<!--  <div>-->
<!--    <h2>Suggestions</h2>-->
<!--    <p>The application will deliver smart recommendations as you complete the event entry. <a href="">Learn More. </a>-->
<!--    </p>-->
<!--  </div>-->
