<div class="contextual-control">
  <span id="back-button" class="clickable no-hover-enlarge no-shadow" onclick="history.back()"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</span>
</div>
<form [formGroup]="reactiveEventForm" class="grid-one-third">
  <div>
    <h2>New Event</h2>
    <div class="event-form-container">
      <div class="event-form">
        <div class="event-form-input">
          <input type="hidden" formControlName="id" name="id" [(ngModel)]="event.id">
          <!-- FIXME: Stop using formControlName due to deprecation with use of ngModel.
                I don't know other elegant way to 2-way bind the data with form fields other than ngModel.
          -->
          <div class="form-row calendar">
            <label for="event.calendarId">Calendar</label>
            <select class="form-control" formControlName="calendarId" id="event.calendarId">
              <option *ngFor="let cal of editableCalendars" value="{{cal.id}}">{{cal.name}}</option>
            </select>
          </div>
          <div class="form-row event-time">
            <div>
              <label for="event.startDate">Start</label>
              <input type="datetime-local"
                     class="form-control" formControlName="startDate" id="event.startDate"
                     placeholder="Start …" [(ngModel)]="event.startDateTime">
            </div>
            <div>-</div>
            <div>
              <label for="event.endDate">End</label>
              <input type="datetime-local" class="form-control" formControlName="endDate" id="event.endDate"
                     placeholder="End …" [(ngModel)]="event.endDateTime">
            </div>
          </div>
          <label for="event.name">Name</label>
          <input type="text" class="form-control event-name form-row" formControlName="name" id="event.name"
                 placeholder="Event Name …" [(ngModel)]="event.name">

          <label for="event.description">Description</label>
          <input type="text" class="form-control form-row" formControlName="description" id="event.description"
                 placeholder="Description …" value="Description not yet implemented">
          <!--          FIXME: [(ngModel)]="event.description"-->

          <label for="event.description">Labels</label>
          <input type="text" class="form-control form-row" formControlName="labels" id="event.labels"
                 placeholder="Labels …" value="Labels here">
        </div>

        <button class="submit-button button-clickable full-width-form-button no-hover-enlarge event-form-submit"
                (click)="onSubmit()">Submit
        </button>
      </div>
    </div>
  </div>
  <div>
    <h2>Details</h2>
    <h3>Labels</h3>
    <label for="label-picker">Labels</label>
    <input type="hidden" id="labels" name="labels" value="123">
    <div id="label-picker" style="background-color: var(--shadow); border-radius: 4pt; padding: 1em; height: 150px">
      I am a label picker.
    </div>

    <label for="location-picker">Location</label>
    <input type="hidden" id="location" name="location" formControlName="location" [(ngModel)]="event.location">
    <div id="location-picker">
      <app-event-location (locationSaved)="saveLocationToEvent($event)" [location]="event.location"></app-event-location>
    </div>
  </div>
  <div>
    <h2>Suggestions</h2>
    <p>The application will deliver smart recommendations as you complete the event entry. <a href="">Learn More. </a>
    </p>
  </div>
</form>
