<form [formGroup]="reactiveEventForm" class="grid-one-third">
  <div>
    <h2>New Event</h2>
    <div class="event-form-container">
      <div class="event-form">
        <div class="event-form-input">
          <input type="hidden" formControlName="id" name="id">

          <div class="form-row event-time">
            <label for="event.startDate">Start</label>
            <input type="datetime-local" class="form-control" formControlName="startDate" id="event.startDate"
                   placeholder="Start …">
            <div>&ensp;-&ensp;</div>
            <label for="event.endDate">End</label>
            <input type="datetime-local" class="form-control" formControlName="endDate" id="event.endDate"
                   placeholder="End …">
          </div>
          <label for="event.name">Name</label>
          <input type="text" class="form-control event-name form-row" formControlName="name" id="event.name"
                 placeholder="Event Name …">

          <label for="event.description">Description</label>
          <input type="text" class="form-control form-row" formControlName="name" id="event.description"
                 placeholder="Description …">
        </div>

        <button class="submit-button clickable full-width-button no-hover">Submit</button>
      </div>
    </div>
  </div>
  <div>
    <h2>Details</h2>
    <div class="form-group">
      <label for="label-picker">Labels</label>
      <input type="hidden" id="labels" name="labels" value="123">
      <div id="label-picker" style="background-color: lightgreen; height: 150px">
        I am a label picker.
      </div>
    </div>

    <label for="location-picker">Location</label>
    <input type="hidden" id="location" name="location" value="123">
    <div id="location-picker">
      <app-event-location (locationSaved)="saveLocationToEvent($event)"></app-event-location>
    </div>
  </div>
  <div>
    <h2>Suggestions</h2>
    <p>The application will deliver smart recommendations as you complete the event entry. <a href="">Learn More. </a>
    </p>
  </div>
</form>

<!--<h1>Create New Event</h1>-->
<!--<div class="row">-->
<!--  <div class="col-md-8">-->
<!--    <h3>Event Details</h3>-->
<!--    <p>Note: Fields with * are <b>Required Fields</b>. </p>-->
<!--    <form [formGroup]="reactiveEventForm">-->
<!--      <input type="hidden" formControlName="id" name="id">-->
<!--      <div class="form-group">-->
<!--        <label for="event.name">Name</label>-->
<!--        <input type="text" class="form-control" formControlName="name" id="event.name">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="event.startDate">Start</label>-->
<!--        <input type="datetime-local" class="form-control" formControlName="startDate" id="event.startDate">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="event.endDate">End</label>-->
<!--        <input type="datetime-local" class="form-control" formControlName="endDate" id="event.endDate">-->
<!--      </div>-->
<!--      <div>-->
<!--      </div>-->

<!--      <div class="btn-group-lg">-->
<!--        <button class="button-clickable button-green btn-lg" (click)="onSubmit()">-->
<!--          Submit-->
<!--        </button>-->
<!--        <button class="button-clickable button-red btn-lg">-->
<!--          Cancel-->
<!--        </button>-->
<!--      </div>-->

<!--    </form>-->

<!--  </div>-->
<!--  <div class="col-md-4">-->
<!--    <h3>Recommendations</h3>-->
<!--    <p>The application will deliver smart recommendations as you complete the event entry. <a href="">Learn More. </a></p>-->
<!--  </div>-->
<!--</div>-->
