@import "../../../var.scss";

#label-container {
  margin-bottom: 12pt;
  align-items: center;
  display: flex;

  .label-item {
    border: 1px solid var(--text);
    padding: 2pt 8pt;
    border-radius: $rounded-radius;
    margin-right: 8pt;
    font-size: 16pt;

    fa-icon {
      font-size: 0.75em;
    }
  }

  .label-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    * {
      font-size: 16pt;
      margin-left: 4pt;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 16pt;

  .user-details {
    margin-left: 8pt;

    .user-name {
      font-weight: $f-bold;
      font-size: 16pt;
    }

    .user-email {
      color: var(--secondary);
    }
  }

  .user-buttons {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;

    * {
      font-size: 16pt;
      margin-left: 4pt;
    }
  }
}
