<div class="contextual-control">
  <span class="clickable no-hover-enlarge" id="back-button" onclick="history.back()"><fa-icon
    [icon]="faChevronLeft"></fa-icon>&ensp;Back</span>
  <span>Admin Dashboard</span>
</div>
<div class="grid-one-third">
  <div>
    <h2>Users</h2>
    <div class="user-list">
      <div *ngFor="let user of users" class="user">
        <img alt="" class="avatar avatar-medium" src="{{getGravatarLink(user.email, 256)}}">
        <div class="user-details">
          <div class="user-name">{{user.name}}</div>
          <div class="user-email">{{user.email}}</div>
        </div>
        <div class="user-buttons">
          <div class="clickable no-hover-enlarge organization-manage-member-button" (click)="resetPassword(user.name)">
            <fa-layers>
              <fa-icon [icon]="faKey" transform="shrink-2 up-4 left-3"></fa-icon>
              <fa-icon [icon]="faRedoAlt" transform="shrink-7 down-4 right-4"></fa-icon>
            </fa-layers>
          </div>
          <div class="clickable no-hover-enlarge organization-kick-member-button">
            <fa-icon [icon]="faTimesCircle"></fa-icon>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div>
    <div class="title-icon-button-combo">
      <h2>Event Labels</h2>
      <div class="icon-button clickable no-hover-enlarge" (click)="toggleAddLabelExpanded()">
        <fa-icon *ngIf="!addLabelExpanded" [icon]="faPlus">Add Label</fa-icon>
        <fa-icon *ngIf="addLabelExpanded" [icon]="faTimes"></fa-icon>
      </div>
    </div>
    <form (keyup.enter)="onSubmit()" class="form input-button-combo add-label-section" *ngIf="addLabelExpanded">
      <label for="label.name"></label>
      <input class="form-control" [(ngModel)]="newLabelName" id="label.name" placeholder="New Label" type="text">
      <button class="no-hover-enlarge" type="submit">Create</button>
    </form>
    <div>
      <div id="label-container" *ngFor="let label of labels">
        <div class="label-item">
          {{label.name}}
        </div>
        <div class="label-buttons">
          <fa-icon *ngIf="label.canEdit" [icon]="faCog" class="clickable no-hover-enlarge"
                   routerLink="/form/label/{{label.id}}">
            Edit Label
          </fa-icon>
          <fa-icon *ngIf="label.canDelete" (click)="deleteLabel(label.id)" class="clickable no-hover-enlarge"
                   [icon]="faTimesCircle">
            Remove Label
          </fa-icon>
        </div>
      </div>
    </div>
  </div>
  <div>
    <a href="http://hasthelargehadroncolliderdestroyedtheworldyet.com" class="plain">
      <h2>Has this Angular frontend crashed yet?</h2>
      <div>No.</div>
    </a>
  </div>
</div>
